<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Project 1</title>
		[%- include('../partials/head') %]
	</head>
	<body>
		[%- include('../partials/header') %]
		[%- include('../partials/navigation') %]
		<main>
			<section class="content-wrapper">
				<div class="event">
					<div class="title">
						<label for="title"><%= event.eventTitle%></label>
						<input type="text" id="title" name="title" required />
						</div>

						<div class="edit">
							<span>
								<a href=""
									><i
										class="fa-regular fa-pen-to-square fa-border fa-lg green"
									></i
								></a>
							</span>
							<span>
								<a href=""
									><i class="fa-solid fa-trash-alt fa-border fa-lg red"></i
								></a>
							</span>
						</div>
					</div>

					<div class="image">
						<!--img src="/img/brewery.jpg" alt="Man in brewery" /-->
					</div>
					<div class="info">
						<!-- host name, start and end date/time, and location-->
						<div id="host">
							<p><b>Host: </b><%= event.hostName%></p>
							<p><b>Start Date and Time: </b><%= event.end%></p>
							<p><b>End Date and Time: </b><%= event.start%></p>
								<b>Details: </b><%= event.details%></p>
						</div>
					</div>
				</div>
			</section>
		</main>
		[%- include('../partials/footer') %]
	</body>
</html>
